#div-img-404 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

#div2-img-404 {
    text-align: center;
    margin-top: 50px;
}

#title-404 {
    font-family: SFUIDisplay;
  font-size: 34px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  color: grey;
}

#link-404 {
    background-color: #ffb15a;
    color: white;
    font-family: SFUIDisplay;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 32px 18px 33px;
  border-radius: 28.5px;
}

#blog-404 {
    margin-top: 100px;
}