{# index.php #}
{% extends 'Layouts/base.twig' %}

{% block content %}

{{post.content}}



      <div class="solutions">
      <h2 class="title-solutions">Nos solutions sont parfaites pour</h2>
        <div class="grid-solutions">
          <div class="soltion1">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Dirigeant d’entreprise</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion2">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Département marketing</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion3">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Département juridique</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion4">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Département R&D</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion5">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Département études</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion6">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Documentaliste</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
        </div>
    </div>

    <div class="grid-content">
      <div class="grid-content1-part1">
          <p class="title-blue">Ils nous font confiance</p>
          <div class="rectangle-blue"></div>
      </div>
      <div class="grid-content1-part2">
          <div class="combined-shape">
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil.</p>
              <p class="info-commentaire">Sarah Connor, directrice innovation </p>
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/bitmap.png"/>
          </div>
      </div>
    </div>

<div class="blog">
<div class="background-blog">
    <h2 class="center"> Le Blog</h2>
    <div class="grid-blog">
        <div class="grid-blog1">
            <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/chien.jpg" class="img-blog"/>
            <h4>La veille collaborative : l’avenir de la veille en entreprise ?</h4>
            <p class="date-blog">12 FEV 2019</p>
        </div>
        <div class="grid-blog2">
            <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/chien.jpg" class="img-blog"/>
            <h4>La veille collaborative : l’avenir de la veille en entreprise ?</h4>
            <p class="date-blog">12 FEV 2019</p>
        </div>
        <div class="grid-blog3">
            <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/chien.jpg" class="img-blog"/>
            <h4>La veille collaborative : l’avenir de la veille en entreprise ?</h4>
            <p class="date-blog">12 FEV 2019</p>
        </div>
    </div>
    <div class="center">
      <a href="/" class="link-content">Plus d'articles</a>
    </div>
    </div>
</div> 

{% endblock %}
