{# page.php #}

{% extends 'Layouts/base.twig' %}

{% block content %}
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    {{post.content}}
  </article>
<div class="blog">
<div class="background-blog2">
    <h2 class="center"> Le Blog</h2>
    <div class="grid-blog">
        <div class="grid-blog1">
            <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/chien.jpg" class="img-blog"/>
            <h4>La veille collaborative : l’avenir de la veille en entreprise ?</h4>
            <p class="date-blog">12 FEV 2019</p>
        </div>
        <div class="grid-blog2">
            <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/chien.jpg" class="img-blog"/>
            <h4>La veille collaborative : l’avenir de la veille en entreprise ?</h4>
            <p class="date-blog">12 FEV 2019</p>
        </div>
        <div class="grid-blog3">
            <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/chien.jpg" class="img-blog"/>
            <h4>La veille collaborative : l’avenir de la veille en entreprise ?</h4>
            <p class="date-blog">12 FEV 2019</p>
        </div>
    </div>
    <div class="center">
      <a href="/" class="link-content">Plus d'articles</a>
    </div>
    </div>
</div>

<div class="div-footer-block">
        <div class="grid-content">
        <div class="grid-content4-part1">
          <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/illu-principale.png" alt='' />
        </div>
          <div class="grid-content4-part2">
            <h2>Prêt à en apprendre davantage sur vos concurrents ? </h2>
            <p>De la conception de votre outil, à la personnalisation et au suivi de ses fonctionnalités, 
            KB Crawl vous offre un panel de services adaptés à vos besoins.</p><br />
            <a href="/" class="link-content">Découvrez nos solutions</a>
          </div>
        </div>
      </div>

{% endblock %}
