{% extends "base.twig" %}

{% block content %}
  {{content}}
{% endblock %}


    <div class="grid-content">
      <div class="grid-content3-part1, text-zone-margin-right">
          <h3 class="crawler">Crawler</h3>
          <h2>Surveillez tout ce que vous souhaitez, en continu</h2>
          <p>Solutions d’automatisation de la collecte et du traitement de vos sources d’informations.</p><br/>
          <a href="/" class="link-content">Découvrir Crawler</a>
      </div>
      <div class="grid-content3-part2">
          <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/illu-principale.png"/>
      </div>
    </div>

      <div class="grid-content4">
      <div class="grid-content4-part1">
          <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/illu-principale.png"/>
      </div>
      <div class="grid-content4-part2">
          <h3 class="pilot">Pilot</h3>
          <h2>Transformez l’information en données exploitables</h2>
          <p>Solution d’enrichissement, de modélisation et de classement de contenus.  </p><br/>
          <a href="/" class="link-content">Découvrir Pilot</a>
        </div>
      </div>

      <div class="grid-content">
      <div class="grid-content5-part1, text-zone-margin-right">
          <h3 class="platform">Platform</h3>
          <h2>Pour chacun, la bonne info, 
              au bon format, au bon moment</h2>
          <p>Solution de diffusion d’informations et d’aide à la décision.</p><br/>
          <a href="/" class="link-content">Découvrir Platform</a>
      </div>
      <div class="grid-content5-part2">
          <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/illu-principale.png"/>
      </div>
      </div>

      <div class="solutions">
      <h2 class="title-solutions">Nos solutions sont parfaites pour</h2>
        <div class="grid-solutions">
          <div class="soltion1">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Dirigeant d’entreprise</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion2">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Département marketing</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion3">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Département juridique</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion4">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Département R&D</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion5">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Département études</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
          <div class="soltion6">
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/tescontent.png"/>
              <h4>Documentaliste</h4>
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
          </div>
        </div>
    </div>

    <div class="grid-content">
      <div class="grid-content1-part1">
          <p class="title-blue">Ils nous font confiance</p>
          <div class="rectangle-blue"></div>
      </div>
      <div class="grid-content1-part2">
          <div class="combined-shape">
              <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil.</p>
              <p class="info-commentaire">Sarah Connor, directrice innovation </p>
              <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/bitmap.png"/>
          </div>
      </div>
    </div>

<div class="blog">
<div class="background-blog">
    <h2 class="center"> Le Blog</h2>
    <div class="grid-blog">
        <div class="grid-blog1">
            <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/chien.jpg" class="img-blog"/>
            <h4>La veille collaborative : l’avenir de la veille en entreprise ?</h4>
            <p class="date-blog">12 FEV 2019</p>
        </div>
        <div class="grid-blog2">
            <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/chien.jpg" class="img-blog"/>
            <h4>La veille collaborative : l’avenir de la veille en entreprise ?</h4>
            <p class="date-blog">12 FEV 2019</p>
        </div>
        <div class="grid-blog3">
            <img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/chien.jpg" class="img-blog"/>
            <h4>La veille collaborative : l’avenir de la veille en entreprise ?</h4>
            <p class="date-blog">12 FEV 2019</p>
        </div>
    </div>
    <div class="center">
      <a href="/" class="link-content">Plus d'articles</a>
    </div>
    </div>
</div> 