<header id="header" class="header" >
  <h1 class="logo" role="banner">
    <a class="logo-link" href="/projet-cms" rel="home"><img src="/projet-cms/wp-content/themes/as-starter-theme/assets/img/kbcrawl-logo.png"
     class="KBCRAWL-logo"></a>
  </h1>
  {% include 'Partials/Components/_nav-main.twig' %}

</div>
</header>
